.wrap {
    text-align: center;
    font-family: "Lato";
    font-weight: bold;
    width: 350px;
    margin: 0 auto;
}
button {
    font-family: "Lato";
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ball {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    margin: 5px 0;
    position: relative;
    /*-webkit-animation: slide-x 5s ease;
    animation: slide-x 5s ease;*/
}
@-webkit-keyframes slide-x {
    0%   { left: 0px; }
    100% { left: 300px; }
}
@keyframes slide-x {
    0%   { left: 0px; }
    100% { left: 300px; }
}
.ball span {
    padding: 14px 15px;
    display: inline-block;
    font-size: 18px;
}
.ball.horizTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-left: 100% !important;
}
